<%- include('./layouts/UserHeader.ejs') %>

    <div class="container mt-5 mb-5">

        <h1>Forget Password</h1>

        <form  method="post">
            <input type="email" name="email" required placeholder="Enter email" >
            <br>
            <input type="submit" value="forgetPassword" class="btn btn-info mt-4">
        </form>

        <%

            if(typeof message !== 'undefined'){
                %>
                    <p><%= message %></p>
                <%
            }

        %>

    </div>

<%- include('./layouts/UserFooter.ejs') %>